<!DOCTYPE html>
<head>
    <title>
        Test Ajax
    </title>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>
        function mysubmmit(){
            var dataArr=$('form').serializeArray()
            var data = {}
            for (var i = 0; i < dataArr.length; i++){
                var key = dataArr[i].name
                var value = '-1'
                if(!dataArr[i].value == '') value = dataArr[i].value
                data[key]=value
            }
            data['partNum']='3'
            //console.log(data)
            console.log(data)
            console.log(JSON.stringify(data))
            $.ajax({
                type:'GET',
                url:'http://10.108.218.64:8090/api/analysis/data',
                data:data,//JSON.stringify(data),  //转变传递的参数为字符串格式
                //contentType:'application/json; charset=UTF-8', //指定传递给服务器的是Json格式数据
                dataType:'json',//希望服务器返回json格式的数据
                //timeout: 60000,
                success:function(data){
                    console.log(data)
                    alert(JSON.stringify(data));
                }
            });
        }
    </script>
</head>
<html>
    <body>
        <form name='data'>
            <p>租户ID:<input type="text" name="tenantId"/></p>
            <p>设备类型:<input type="text" name="deviceType"/></p>
            <p>设备ID:<input type="text" name="deviceId"/></p>
            <p>开始时间:<input type="text" name="startTime"/></p>
            <p>结束时间:<input type="text" name="endTime"/></p>
        </form>
        <button type="button" id="mybt" onclick="mysubmmit()">
            ajax提交
        </button>
    </body>
</html>